aioredis==1.3.1
amqp==5.0.6
asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1592528583041/work
async-timeout==3.0.1
attrs==20.3.0
autobahn==21.3.1
Automat==20.2.0
billiard==3.6.4.0
celery==5.0.5
certifi==2020.12.5
cffi==1.14.5
channels==3.0.1
channels-redis==2.4.2
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
constantly==15.1.0
cryptography==3.4.7
daphne==3.0.2
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1593616220789/work
django-appconf==1.0.4
django-celery-results==2.0.1
django-cors-headers==3.7.0
django-cryptography==1.0
djangorestframework==3.11.0
hiredis==2.0.0
hyperlink==21.0.0
idna==3.1
incremental==21.3.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
kombu==5.0.2
msgpack==0.6.2
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1616933194735/work
pandas==1.2.4
prompt-toolkit==3.0.18
psycopg2 @ file:///Users/runner/miniforge3/conda-bld/psycopg2_1614021146659/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==20.0.1
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
redis==3.5.3
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1619628646727/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1619561962732/work
service-identity==18.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1602142927465/work
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
Twisted==21.2.0
txaio==21.2.1
vine==5.0.0
wcwidth==0.2.5
websocket-client==0.57.0
xgboost==1.4.2
zope.interface==5.4.0
