# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64

djangorestframework~=3.12.4
django~=3.2
numpy~=1.18.5
scikit-learn~=0.24.1
celery~=5.0.5
joblib~=1.0.1
pandas~=1.2.4
xgboost~=1.4.0
tensorflow~=2.4.0rc0